@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
/*font-family: 'Open Sans', sans-serif;*/
@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url("../fonts/myfonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/myfonts/proximanova-semibold.otf") format("opentype"), url("../fonts/myfonts/proximanova-semibold.woff") format("woff"), url("../fonts/myfonts/proximanova-semibold.ttf") format("truetype"), url("../fonts/myfonts/proximanova-semibold.svg#ProximaNova-Semibold") format("svg");
  font-weight: normal;
  font-style: normal; }
