@mixin transition {
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

@mixin hover {
    &:hover,
    &:focus {
        background: $hoverBgColor;
        color: $whiteColor;
        border-color: $hoverBgColor;
    }
}

@mixin background($image:none, $size:cover) {
    background-image: url($image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: $size;
}

@mixin view_btn {
    padding: 0;
    margin: 0;
    a {
        color: #478bca;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        border-bottom: 2px solid #478bca;
        border-top: 2px solid #478bca;
        line-height: 2.5;
        display: inline-block;
        text-transform: uppercase;
        text-align: center;
        padding: 0;
        font-style: normal;
        width: 160px;
        position: relative;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: #f56647;
            border-bottom: 2px solid #f56647;
            border-top: 2px solid #f56647;
        }
        &:after {
            content: '';
            position: absolute;
            background: #478bca;
            width: 24px;
            height: 2px;
            left: -11px;
            transform: rotate(90deg);
            top: 10px;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }
        &:hover:after {
            background: #f56647;
            width: 41px;
            left: -20px;
            top: 19px;
        }

        &:before {
            content: '';
            position: absolute;
            background: #478bca;
            width: 24px;
            height: 2px;
            right: -11px;
            transform: rotate(90deg);
            bottom: 10px;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;

        }

        &:hover:before {
            background: #f56647;
            width: 41px;
            right: -20px;
            bottom: 19px;
        }
    }


}

@mixin background-pro {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin circle($size) {
    height: $size;
    width: $size;
    border-radius: 100%;
}

@mixin fullCover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@mixin btn {
    display: inline-block;
    line-height: 2.6;
    padding: 4px 23px 0px;
    border-radius: 4px;
    box-shadow: none;
    text-transform: uppercase;
    font-family: $font;
    font-weight: $semiBoldFont;
    font-size: 23px;
    letter-spacing: 0.03em;
    cursor: pointer;
    @include transition;

}

@mixin translateY {
    transform: translateY(-50%);
}

@mixin media($point) {
    @if $point==desktop {
        @media only screen and (max-width: 1469px) {
            @content;
        }
    }

    @if $point==iPadLand {
        @media only screen and (max-width: 1199px) {
            @content;
        }
    }
    @else if $point==iPad {
        @media only screen and (max-width: 991px) {
            @content;
        }
    }
    @else if $point==mobile {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }
    @else if $point==mobile-s {
        @media only screen and (max-width: 479px) {
            @content;
        }
    }
}


/*==============================
    Tabing-Section-Csss
================================*/

.course {
    padding: 60px 0;
    position: relative;
    margin-top: 12%;
    text-align: center;
    @include media(desktop) {
        & {
            padding: 30px 0;
            margin-top: 14%;
        }
    }
    & .nav-tabs {

        &.active {
            color: none;
            background-color: transparent;
            border-color: none;
        }
    }

}

ul.nav.nav-tabs {
    width: 795px;
    height: 795px;
    border-radius: 100%;
    border: 10px solid #c4c4c4;
    border-style: dotted;
    margin: 0 auto;
    position: relative;
    z-index: 9;
    pointer-events: none;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    @include media(desktop) {
        & {
            width: 595px;
            height: 595px;
        }
    }
}

ul.nav.nav-tabs li {
    position: absolute;
    pointer-events: auto
}

ul.nav.nav-tabs li:nth-child(1) {
    top: -132px;
    left: 28%;
    z-index: 5;
    @include media(desktop) {
        & {
            top: -105px;
            left: 27.5%;
        }
    }

}

ul.nav.nav-tabs li:nth-child(2) {
    top: 32%;
    right: -122px;
    @include media(desktop) {
        & {
            top: 32%;
            right: -110px;
        }
    }
}

ul.nav.nav-tabs li:nth-child(2) a span {
    top: 38%;
    margin-left: 42%;
}

ul.nav.nav-tabs li:nth-child(3) {
    top: 32%;
    left: -122px;
    @include media(desktop) {
        & {
            top: 32%;
            left: -110px;
        }
    }
}

ul.nav.nav-tabs li:nth-child(3) a span {
    top: 36%;
    margin-left: -45%;
}

ul.nav.nav-tabs li:nth-child(4) {
    bottom: -132px;
    left: 30%;
    @include media(desktop) {
        & {
            bottom: -108px;
            left: 30%;
        }
    }
}

ul.nav.nav-tabs li:nth-child(4) a span {
    top: 72%;
    margin-left: 0;

}

/* Rotate */

section.courses_section .nav-tabs.tab-1 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

section.courses_section .nav-tabs.tab-2 {
    -webkit-transform: rotate(265deg);
    transform: rotate(265deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

section.courses_section .nav-tabs.tab-2 .nav-link.active {
    -webkit-transform: rotate(-265deg);
    transform: rotate(-265deg);
}

section.courses_section .nav-tabs.tab-3 {
    -webkit-transform: rotate(95deg);
    transform: rotate(95deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

section.courses_section .nav-tabs.tab-3 .nav-link.active {
    -webkit-transform: rotate(-95deg);
    transform: rotate(-95deg);
}

section.courses_section .nav-tabs.tab-4 {
    -webkit-transform: rotate(183deg);
    transform: rotate(183deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

section.courses_section .nav-tabs.tab-4 .nav-link.active {
    -webkit-transform: rotate(-183deg);
    transform: rotate(-183deg);
}

/*  Tab-2 */

section.courses_section .nav-tabs.tab-2 li:nth-child(2) a span {
    top: -13%;
    margin-left: 1%;
}

section.courses_section .nav-tabs.tab-2 li:first-child {
    top: -117px;
    left: 30%;
    z-index: 5;
    transform: rotate(98deg);
}

section.courses_section .nav-tabs.tab-2 li:first-child a span {
    top: 78px;
    left: 1%;
}

section.courses_section .nav-tabs.tab-2 li:nth-child(3) {
    transform: rotate(92deg);
}

section.courses_section .nav-tabs.tab-2 li:nth-child(3) a span {
    top: 80%;
    margin-left: 5px;
}

section.courses_section .nav-tabs.tab-2 li:nth-child(4) {
    bottom: -111px;
    left: 30%;
    transform: rotate(98deg);
}

section.courses_section .nav-tabs.tab-2 li:nth-child(4) a span {
    top: 29%;
    margin-left: 130px;
}

/*  //Tab-2 */

section.courses_section .nav-tabs.tab-3 li:first-child {
    transform: rotate(267deg);
}

section.courses_section .nav-tabs.tab-3 li:nth-child(3) a span {
    top: -9%;
    margin-left: 0%;
}

section.courses_section .nav-tabs.tab-3 li:first-child a span {
    top: 28%;
    margin-left: 147px;
}

section.courses_section .nav-tabs.tab-3 li:nth-child(4) {
    bottom: -104px;
    left: 30%;
    transform: rotate(266deg);
}

section.courses_section .nav-tabs.tab-3 li:nth-child(4) a span {
    top: 28%;
    margin-left: -150px;
}

section.courses_section .nav-tabs.tab-3 li:nth-child(2) {
    top: 24%;
    right: -125px;
    transform: rotate(265deg);
}

section.courses_section .nav-tabs.tab-3 li:nth-child(2) a span {
    top: 82%;
    margin-left: -1%;
}

/* //Tab-3 */

/* Tab-4 */

section.courses_section .nav-tabs.tab-4 li:nth-child(4) a span {
    top: -10%;
    margin-left: 0;
}

section.courses_section .nav-tabs.tab-4 li:nth-child(3) {
    top: 32%;
    left: -122px;
    transform: rotate(180deg);
}

section.courses_section .nav-tabs.tab-4 li:nth-child(3) a span {
    top: 10%;
    margin-left: 50%;
}

section.courses_section .nav-tabs.tab-4 li:first-child {
    top: -110px;
    left: 28%;
    transform: rotate(177deg);
}

section.courses_section .nav-tabs.tab-4 li:first-child a span {
    top: 220px;
    left: 50%;
    @include media(desktop) {
        & {
            top: 190px;
            left: 50%;
        }
    }
}

section.courses_section .nav-tabs.tab-4 li:nth-child(2) {
    top: 32%;
    right: -122px;
    transform: rotate(177deg);
}

section.courses_section .nav-tabs.tab-4 li:nth-child(2) a span {
    top: 29%;
    margin-left: -52%;
}

/* //Tab-4 */

section.courses_section .nav-tabs .nav-item.show .nav-link,
section.courses_section .nav-tabs .nav-link.active {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
}

section.courses_section .course figure {
    width: 255px;
    height: auto;
    border: 30px solid #efefef;
    border-radius: 100%;
    z-index: 9;
    position: relative;
    @include media(desktop) {
        & {
            width: 225px;
        }
    }

}

section.courses_section .course figure img {
    width: 100%;
    height: auto;
    border: 10px solid #d5d5d5;
    border-radius: 100%;
    opacity: 0.8;
}

section.courses_section .course .nav-item a span {
    width: 121px;
    height: 120px;
    background: #f56647;
    border-radius: 100%;
    display: block;
    font-size: 24px;
    line-height: 24px;
    font-family: $font-family;
    font-weight: $regulerFont;
    color: #fff;
    text-align: center;
    padding-top: 33px;
    position: absolute;
    z-index: 99;
    top: -38px;
    left: 50%;
    transform: translateX(-50%);
    @include media(desktop) {
        & {
            width: 99px;
            height: 98px;
            font-size: 18px;
            line-height: 18px;
            padding-top: 30px;
        }
    }
}

section.courses_section .course .nav-item a.active {
    position: relative;
    z-index: 9;
    @include media(desktop) {
        & {
            width: 100%;
            left: 0px;
            top: 70%;
        }
    }
}

section.courses_section .course .nav-item a.active:before {
    content: '';
    position: absolute;
    background: #4b4b4b;
    height: 4px;
    top: 65%;
    width: 104%;
    left: -7px;
    z-index: 1;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    @include media(desktop) {
        & {
            width: 102%;
            left: -2px;
        }
    }
}


section.courses_section .course .nav-item a.nav-link.active figure {
    width: 340px;
    border: 42px solid #f56647;
    @include media(desktop) {
        & {
            width: 255px;
            border: 30px solid #f56647;
        }
    }
}

section.courses_section .course .nav-item a.nav-link.active figure img {
    border: 10px solid #ed3913;
    opacity: 1;
}

section.courses_section .course .nav-item a.nav-link.active span {
    background: #478bca;
}

section.courses_section .nav-tabs .nav-link:focus,
section.courses_section .nav-tabs .nav-link:hover {
    border-color: transparent;
}


/* Middle-content */

section.courses_section .course {
    position: relative;
}

section.courses_section .course .tab-pane {
    background: #478bca;
    padding: 135px 20px;
    width: 325px;
    position: absolute;
    top: 158px;
    left: 0;
    right: 0;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    @include media(desktop) {
        & {
            top: 100px;
            width: 235px;
            padding: 100px 20px 70px;
        }
    }
}

section.courses_section .tab-content .tab-pane {
    display: block !important;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-50%);
}

section.courses_section .tab-content .tab-pane.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0%);
    transition-delay: 0.5s;
}

section.courses_section .course .tab-pane:after {
    content: "";
    position: absolute;
    bottom: 0;
    background-image: url(../images/tab-inner.png);
    background-repeat: no-repeat;
    z-index: 9;
    width: 100%;
    display: block;
    height: 60px;
    left: 0;
    right: 0;
    @include media(desktop) {
        & {
            bottom: -1px;
            width: 100%;
            height: 44px;
            background-size: contain;
        }
    }
}

section.courses_section .course .tab-pane h3 {
    font-size: 22px;
    color: #fff;
    font-family: $font-family;
    font-weight: $semiboldFont;
    margin-bottom: 15px;
    @include media(desktop) {
        & {
            font-size: 18px;
        }
    }
}

section.courses_section .course .tab-pane p {
    font-size: 14px;
    line-height: 1.6;
    padding: 0;
    color: #fff;
    font-family: $font-family;
    font-weight: $regulerFont;
    margin-bottom: 45px;
    @include media(desktop) {
        & {
            font-size: 13px;
            line-height: 1.4;
            margin-bottom: 15px;
        }
    }
}
